@import "../index.scss";

.list__item {
  padding: 20rem;
  margin: 0 1rem;
  font-size: medium;

  & :hover {
    font-weight: bold;
    background-color: rgb(212, 215, 214);
  }
}

.textClassName {
  font-weight: bold;
}
